<a href="https://colab.research.google.com/github/mwm26/Data-project/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PANDAS**

Panda is a data analysis and data manipulation tool in Python.
It's open source, built on top of the Python programming language.

Used for data wrangling and data cleaning as well

More powerful than Excel

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
#shortcut so you don't have to type out the word 'pandas'
import pandas as pd

Series is a single column

Dataframe  is a multidimentional table  made up of a collection of series (similar to a spreadsheet on excel)

csv - comma separated values

In [4]:
data = 'https://raw.githubusercontent.com/gsusAguirreArz/2022-billionaire-EDA/master/out/2022_billionaires.csv'

In [5]:
forbes_df = pd.read_csv(data)

alternatively

In [10]:
forbes = pd.read_csv ('https://raw.githubusercontent.com/gsusAguirreArz/2022-billionaire-EDA/master/out/2022_billionaires.csv')

In [24]:
forbes

,Unnamed: 0,rank,name,networth,age,country,source,industry
0,0,Rank,Name,Net Worth,Age,Country / Territory,Source,Industry
1,1,1.,Elon Musk,$219 B,50,United States,"Tesla, SpaceX",Automotive
2,2,2.,Jeff Bezos,$171 B,58,United States,Amazon,Technology
3,3,3.,Bernard Arnault & family,$158 B,73,France,LVMH,Fashion & Retail
4,4,4.,Bill Gates,$129 B,66,United States,Microsoft,Technology
...,...,...,...,...,...,...,...,...
2608,2608,2578.,Jorge Gallardo Ballart,$1 B,80,Spain,pharmaceuticals,Healthcare
2609,2609,2578.,Nari Genomal,$1 B,82,Philippines,apparel,Fashion & Retail
2610,2610,2578.,Ramesh Genomal,$1 B,71,Philippines,apparel,Fashion & Retail
2611,2611,2578.,Sunder Genomal,$1 B,68,Philippines,garments,Fashion & Retail
2612,2612,2578.,Horst-Otto Gerberding,$1 B,69,Germany,flavors and fragrances,Food & Beverage

In [12]:
forbes_df

,Unnamed: 0,rank,name,networth,age,country,source,industry
0,0,Rank,Name,Net Worth,Age,Country / Territory,Source,Industry
1,1,1.,Elon Musk,$219 B,50,United States,"Tesla, SpaceX",Automotive
2,2,2.,Jeff Bezos,$171 B,58,United States,Amazon,Technology
3,3,3.,Bernard Arnault & family,$158 B,73,France,LVMH,Fashion & Retail
4,4,4.,Bill Gates,$129 B,66,United States,Microsoft,Technology
...,...,...,...,...,...,...,...,...
2608,2608,2578.,Jorge Gallardo Ballart,$1 B,80,Spain,pharmaceuticals,Healthcare
2609,2609,2578.,Nari Genomal,$1 B,82,Philippines,apparel,Fashion & Retail
2610,2610,2578.,Ramesh Genomal,$1 B,71,Philippines,apparel,Fashion & Retail
2611,2611,2578.,Sunder Genomal,$1 B,68,Philippines,garments,Fashion & Retail
2612,2612,2578.,Horst-Otto Gerberding,$1 B,69,Germany,flavors and fragrances,Food & Beverage

In [ ]:
#gives you the first 5 rows of data. if you fill in the brackets with numbers-up to 50- it will call back those rows
forbes.head()

In [ ]:
forbes.head(50)

In [19]:
#will call back the last 5 rows of data
forbes.tail()

,Unnamed: 0,rank,name,networth,age,country,source,industry
2608,2608,2578.,Jorge Gallardo Ballart,$1 B,80,Spain,pharmaceuticals,Healthcare
2609,2609,2578.,Nari Genomal,$1 B,82,Philippines,apparel,Fashion & Retail
2610,2610,2578.,Ramesh Genomal,$1 B,71,Philippines,apparel,Fashion & Retail
2611,2611,2578.,Sunder Genomal,$1 B,68,Philippines,garments,Fashion & Retail
2612,2612,2578.,Horst-Otto Gerberding,$1 B,69,Germany,flavors and fragrances,Food & Beverage

In [20]:
forbes.tail(50)

,Unnamed: 0,rank,name,networth,age,country,source,industry
2563,2563,2448.,Surin Upatkoon,$1.1 B,72,Thailand,"telecom, lotteries, insurance",Diversified
2564,2564,2448.,Sunil Vachani,$1.1 B,53,India,electronics,Manufacturing
2565,2565,2448.,Murat Vargi,$1.1 B,74,Turkey,telecom,Telecom
2566,2566,2448.,Pongsak Viddayakorn,$1.1 B,88,Thailand,hospitals,Healthcare
2567,2567,2448.,Wang Linxiang,$1.1 B,NaN,China,cashmere,Fashion & Retail
2568,2568,2448.,Wang Shumin,$1.1 B,65,China,manufacturing,Manufacturing
2569,2569,2448.,Richard Warke,$1.1 B,NaN,Canada,Mining,Metals & Mining
2570,2570,2448.,Anne Werninghaus,$1.1 B,36,Brazil,industrial machinery,Manufacturing
2571,2571,2448.,Allan Wong,$1.1 B,72,Hong Kong,electronics,Manufacturing
2572,2572,2448.,Chaoqun Wu,$1.1 B,52,China,chemicals,Manufacturing
2573,2573,2448.,Wu Yonghua,$1.1 B,51,China,apparel,Fashion & Retail
2574,2574,2448.,Wu Zhenxing,$1.1 B,52,China,soy sauce,Food & Beverage
2575,2575,2448.,Franziska Wuerbser,$1.1 B,34,Germany,kitchen appliances,Manufacturing
2576,2576,2448.,Xia Xinde,$1.1 B,57,China,batteries,Manufacturing
2577,2577,2448.,Xiong Jun & family,$1.1 B,48,China,pharmaceuticals,Healthcare
2578,2578,2448.,Jane Yan & family,$1.1 B,52,China,software,Technology
2579,2579,2448.,Yang Erzhu,$1.1 B,71,China,real estate,Real Estate
2580,2580,2448.,Vlad Yatsenko,$1.1 B,38,Ukraine,fintech,Finance & Investments
2581,2581,2448.,Yi Xianzhong & family,$1.1 B,62,China,pharmaceuticals,Healthcare
2582,2582,2448.,Yoshiaki Yoshida,$1.1 B,81,Japan,cosmetics,Fashion & Retail
2583,2583,2448.,Yu Rong,$1.1 B,50,China,health clinics,Healthcare
2584,2584,2448.,Igor Yusufov,$1.1 B,65,Russia,oil & gas,Energy
2585,2585,2448.,Zeng Weixiong,$1.1 B,NaN,China,healthcare,Healthcare
2586,2586,2448.,Zhang Cheng Fei,$1.1 B,54,China,paper & related products,Manufacturing
2587,2587,2448.,Zhang Fangliang,$1.1 B,57,China,biotechnology,Healthcare
2588,2588,2448.,Baoshen Zhong,$1.1 B,54,China,solar energy,Energy
2589,2589,2448.,Zhou Minghua,$1.1 B,58,China,pharmaceutical,Healthcare
2590,2590,2578.,Krishna Kumar Bangur,$1 B,61,India,graphite electrodes,Manufacturing
2591,2591,2578.,"Wilbur 'Ed' Bosarge, Jr.",$1 B,82,United States,high speed trading,Finance & Investments
2592,2592,2578.,Johanna Braun,$1 B,42,Germany,medical technology,Healthcare
2593,2593,2578.,Karl Friedrich Braun,$1 B,39,Germany,medical technology,Healthcare
2594,2594,2578.,Jean-Pierre Cayard,$1 B,79,France,spirits,Food & Beverage
2595,2595,2578.,Tony Chen,$1 B,72,Taiwan,electronics,Technology
2596,2596,2578.,Vivien Chen,$1 B,63,Hong Kong,real estate,Real Estate
2597,2597,2578.,Chey Ki-won,$1 B,57,South Korea,"computer services, telecom",Technology
2598,2598,2578.,Pollyanna Chu,$1 B,64,Hong Kong,"financial services, property",Finance & Investments
2599,2599,2578.,Roy Chi Ping Chung,$1 B,69,Hong Kong,manufacturing,Manufacturing
2600,2600,2578.,Doug Clarke,$1 B,41,Australia,"cameras, software",Technology
2601,2601,2578.,Ronald Clarke,$1 B,66,United States,payments technology,Technology
2602,2602,2578.,Jean-Paul Clozel,$1 B,67,Switzerland,pharmaceuticals,Healthcare
2603,2603,2578.,Carl DeSantis,$1 B,82,United States,energy drink,Food & Beverage
2604,2604,2578.,Sefik Yilmaz Dizdar,$1 B,84,Turkey,fashion retail,Fashion & Retail
2605,2605,2578.,Charles Dunstone,$1 B,58,United Kingdom,mobile phones,Telecom
2606,2606,2578.,Larry Fink,$1 B,69,United States,money management,Finance & Investments
2607,2607,2578.,Fu Gang,$1 B,51,China,pharma retailing,Healthcare
2608,2608,2578.,Jorge Gallardo Ballart,$1 B,80,Spain,pharmaceuticals,Healthcare
2609,2609,2578.,Nari Genomal,$1 B,82,Philippines,apparel,Fashion & Retail
2610,2610,2578.,Ramesh Genomal,$1 B,71,Philippines,apparel,Fashion & Retail
2611,2611,2578.,Sunder Genomal,$1 B,68,Philippines,garments,Fashion & Retail
2612,2612,2578.,Horst-Otto Gerberding,$1 B,69,Germany,flavors and fragrances,Food & Beverage

In [21]:
forbes.shape
#(rows, columns)

(2613, 8)

In [22]:
#info gives you a summary
#object is anything text- like.
forbes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2613 entries, 0 to 2612
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2613 non-null   int64
 1   rank        2613 non-null   object
 2   name        2613 non-null   object
 3   networth    2613 non-null   object
 4   age         2528 non-null   object
 5   country     2613 non-null   object
 6   source      2613 non-null   object
 7   industry    2613 non-null   object
dtypes: int64(1), object(7)
memory usage: 163.4+ KB

age and net-worth are classed as object instead of intergers. We need to clean this

In [ ]:
#will give you descriptive statistics about a dataset that includes intergers
forbes.describe()

In [ ]:
#when you specify by putting in the brackets, it can return other datatypes like object
#unique refers to the amount of things mentioned *think sumif
forbes.describe(include=['object'])

,rank,name,networth,age,country,source,industry
count,2613,2613,2613,2528,2613,2613,2613
unique,229,2599,229,77,76,896,19
top,1929.,Name,$1.5 B,58,United States,real estate,Finance & Investments
freq,147,13,147,79,719,148,386

In [ ]:
#not a permanent change
forbes.drop(columns = ['Unnamed: 0','rank'], axis='columns' )

In [25]:
forbes.drop(columns = ['Unnamed: 0','rank'])

,name,networth,age,country,source,industry
0,Name,Net Worth,Age,Country / Territory,Source,Industry
1,Elon Musk,$219 B,50,United States,"Tesla, SpaceX",Automotive
2,Jeff Bezos,$171 B,58,United States,Amazon,Technology
3,Bernard Arnault & family,$158 B,73,France,LVMH,Fashion & Retail
4,Bill Gates,$129 B,66,United States,Microsoft,Technology
...,...,...,...,...,...,...
2608,Jorge Gallardo Ballart,$1 B,80,Spain,pharmaceuticals,Healthcare
2609,Nari Genomal,$1 B,82,Philippines,apparel,Fashion & Retail
2610,Ramesh Genomal,$1 B,71,Philippines,apparel,Fashion & Retail
2611,Sunder Genomal,$1 B,68,Philippines,garments,Fashion & Retail
2612,Horst-Otto Gerberding,$1 B,69,Germany,flavors and fragrances,Food & Beverage

In [ ]:
#It will permanately delete what you have asked it to drop
forbes.drop(columns = ['Unnamed: 0','rank'], axis='columns',inplace=True )

In [ ]:
#create another variable so you can edit what you want without changing the orignal source code
forbes_clean = forbes.drop (columns = ['source'], axis = 'columns')

In [ ]:
forbes_clean

,name,networth,age,country,industry
0,Name,Net Worth,Age,Country / Territory,Industry
1,Elon Musk,$219 B,50,United States,Automotive
2,Jeff Bezos,$171 B,58,United States,Technology
3,Bernard Arnault & family,$158 B,73,France,Fashion & Retail
4,Bill Gates,$129 B,66,United States,Technology
...,...,...,...,...,...
2608,Jorge Gallardo Ballart,$1 B,80,Spain,Healthcare
2609,Nari Genomal,$1 B,82,Philippines,Fashion & Retail
2610,Ramesh Genomal,$1 B,71,Philippines,Fashion & Retail
2611,Sunder Genomal,$1 B,68,Philippines,Fashion & Retail
2612,Horst-Otto Gerberding,$1 B,69,Germany,Food & Beverage

How to create own DataFrame

In [ ]:
my_dict = {'Student ID': [1,2,3,4,5],
           'Student Name': ['Anna', 'Victoria', 'Simi', 'Peace', 'Kam'],
           'Subject': ['Data', 'Data', 'Data', 'Data', 'Data']}

In [ ]:
df_dict = pd.DataFrame(my_dict)

In [ ]:
df_dict

   Student ID Student Name Subject
0           1         Anna    Data
1           2     Victoria    Data
2           3         Simi    Data
3           4        Peace    Data
4           5          Kam    Data